/* Ensure full height layout and mobile-safe scrolling */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* ✅ Apply consistent box-sizing across all elements */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

.recharts-pie-sector:focus {
  outline: none;
}

.recharts-surface:focus {
  outline: none !important;
}
.recharts-wrapper:focus {
  outline: none !important;
}

html, body, button, .recharts-wrapper, .recharts-surface {
  -webkit-tap-highlight-color: transparent;
}

@keyframes bounce-once {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-25%);
    animation-timing-function: ease-in;
  }
}

.animate-bounce-once {
  animation: bounce-once 0.6s ease-out 1;
}

@keyframes shimmer {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
}


.animate-shimmer {
  background: linear-gradient(90deg, #ffffff22, #ffffff66, #ffffff22);
  background-size: 200% 100%;
  animation: shimmer 2s infinite linear;
}

.animate-test {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(90deg, red, yellow, red);
  background-size: 200% 100%;
}



@tailwind base;
@tailwind components;
@tailwind utilities;

